x-admin-creds: &admin-creds
  ADMIN_USERNAME: REDACTED_USERNAME
  ADMIN_PASSWORD: REDACTED_PASSWORD
services:
  app:
    build:
      context: ./app
      dockerfile: Dockerfile
    ports:
      - 3000:3000
    environment:
      <<: *admin-creds
      LOG_URL: redis://log:6379
    networks:
      - internal
  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    networks:
      - internal
    environment:
      <<: *admin-creds
  log:
    image: redis:latest
    networks:
      - internal

networks:
  internal: